<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #ffc6c1;">
  <div class="container-fluid">
    <img class="border bg-light rounded-circle me-3" src="{{ asset('build/images/babyiconfree.png') }}" width="60px"
              height="60px" alt="logo-baby-shop">
          <a href="" class="text-light text-uppercase d-none d-lg-block me-5 fw-bold">Jolie piquese</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto my-2 my-lg-0">
        <li class="nav-item text-center mx-3 fw-bold fst-italic">
            <a class="nav-link active text-light" href="{{ path('index') }}">Accueil</a>
          </li>
        <li class="nav-item text-center mx-3 fw-bold fst-italic">
           <a class="nav-link active text-light" href="{{ path('product_index') }}">Nos produits</a>
        </li>
        <li class="nav-item dropdown text-center mx-3 fw-bold fst-italic">
         <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fille
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Robe</a></li>
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Pyjama</a></li>
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Pull, gilet et cardigan</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown text-center mx-3 fw-bold fst-italic">
         <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Garçon
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">T-shirt et polo</a></li>
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Pyjama</a></li>
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Pantalon, jean et short</a></li>
          </ul>
        </li>
         <li class="nav-item dropdown text-center mx-3 fw-bold fst-italic">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bébé
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Body</a></li>
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Pyjama et combinaison</a></li>
            <li><a class="dropdown-item text-center text-secondary fs-5" href="#">Bonnet & chaussettes</a></li>
          </ul>
        </li>
      </ul>
      <div class="panier d-flex justify-content-lg-end justify-content-center">
      
        <a class="nav-link active text-light" href="{{ path('cart_index') }}"><img src="{{ asset('build/images/panier.png') }}"
                          class="text-light" alt="panier" width="30">Mon panier</a>
                  
   {% if not app.user %}     
        <a class="nav-link active text-light" href="{{ path('app_login') }}"><img src="{{ asset('build/images/user.png') }}"
                          class="text-light " alt="user" width="30">Mon compte</a>
  {% else %}
				<div class="dropdown btn btn-secondary fs-5">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
             Bienvenue <span class="text-pink">{{ app.user.firstname }}</span>
          </a>
          <ul class="dropdown-menu shadow-lg w-100" aria-labelledby="dropdownMenuLink">
            <li>
							<a class="dropdown-item text-wrap bg-secondary text-light fw-bold" href="{{ path('product_new') }}">
							<i class="bi bi-person-lines-fill text-light"></i> &nbsp; Créer des produits</a>
						</li>                                         
						<li>	
								<a class="dropdown-item text-wrap bg-secondary text-light fw-bold" href="{{ path('app_logout') }}">
                <i class="bi bi-power text-light"></i>&nbsp; Déconnexion
                </a>
            </li>                  
          </ul>
        </div>
  {% endif %}   
    
  </div>
</nav>