{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Nos offres{% endblock %}

{% block body %}
    <section class="top-vente col-lg-10 col-11 mx-auto my-5">
    <h2 class="text-center text-secondary mb-5">NOS PRODUITS</h2>

    <div class="row my-5 mx-auto text-secondary">
        <div class="col-lg-2 col-6">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
        </div>
        <div class="col-lg-2 col-6">
            {{ form_row(form.category) }}
        </div>
		<div class="col-lg-2 col-6">
            {{ form_row(form.minPrice) }}
        </div>
		<div class="col-lg-2 col-6">
            {{ form_row(form.maxPrice) }}
        </div>
		<div class="col-lg-2 col-6">
            {{ form_row(form.sortByPrice) }}
        </div>
        <div class="col-lg-2 col-6 d-flex align-items-end">
            <button class="container-fluid btn btn-secondary text-light fs-5"><i class="bi bi-search text-white"></i> Rechercher</button>
       
        </div>
		     {{ form_end(form) }}
	</div>
	
   
    <div class="row">
			{% for product in products %}
				<div class="col-sm-6 col-md-4 col-lg-3 mb-5">
					<a href="{{ path('product_show', {'id': product.id}) }}">
						<div class="card">
							<img src="{{ product.photo }}" class="card-img-top" alt="" height="300px">
							<div class="card-body">
								<h4 class="text-secondary fs-3 mb-3">{{ product.title }}</h4>
								<div class="d-flex flex-row justify-content-between">
									<p class="badge bg-pink text-light">{{ product.category.name }}</p>
									<p class="card-text text-pink">{{ product.prix }}€</p>
								</div>
								<a href="{{ path('cart_add', {'id': product.id}) }}" class="fs-5 col-6 offset-3  btn btn-secondary text-light"><i class="bi bi-cart-plus"></i>Ajouter au panier</a>
							</div>
							<div class="card-footer">
      							<small class="text-muted">Créé le {{ product.createdAt|date('d/m/Y') }}</small>
    						</div>
						</div>
					</a>
				</div>
			{% else %}
				Pas de résultat à la recherche
			{% endfor %}
		</div>

</section>
{% endblock %}
